
:root {
    --primary: #ddd;
    --dark: #333;
    --gradient: linear-gradient(60deg, #2E3152, #5E64BB);
    --light: #fff;
    --shadow: 0 5px 5px 0 rgba(0,0,0,.25);
    --hover: 0 5px 5px 0 rgba(0,0,0,.45);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light);
}

body {
    margin: 30px 30px;
    background: var(--gradient);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: center;
    height: 100vh;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
    padding: 1rem 0;
}

.btn {
    display: inline-block;
    background: transparent;
    color: var(--light);
    text-decoration: none;
    padding: 15px 20px;
    box-shadow: var(--shadow);
    border: 1px solid #666;
    border-radius: 5px;
    margin: .5em 0;
    font-size: 15px;
}

.btn:hover {
    box-shadow: var(--hover);
}

a {
    color: var(--light);
    text-decoration: none;
}

input {
    outline: none;
    border: none;
    display: inline-block;
    width: 100%;
    height: 30px;
    font-size: 1rem;
    background: transparent;
    color: var(--light);
    border-bottom:1px solid #757575;
    padding:10px 0px 10px 0px;
}
.group {
    position:relative;
    margin-bottom:45px;
}
.group .fas{
    position: absolute;
    top: 5px;
    right: 5px;
}

.group label {
    color:#999;
    font-size:15px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
    top:-20px;
    font-size:14px;
    color: var(--light);
}
input[type="password"] {
    font-weight: bold;
    font-size: 2rem !important;
}
.bar {
    position:relative; display:block; width:100%;
}
.bar:before, .bar:after {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#5264AE;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

i {
    padding: 5px;
}

/*  Login Start  */
.login-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
            'showcase'
            'main'
            'footer';
}

.login-wrapper #showcase {
    display: grid;
    grid-gap: 10px;
    text-align: center;
    grid-template-areas:
        'logo-container'
        'intro-text';
    grid-area: showcase;
}

.login-wrapper #showcase .logo-container,.register-wrapper #showcase .logo-container, .forget-wrapper #showcase .logo-container {
    grid-area: logo-container;
}

.login-wrapper #showcase .logo-container img,.register-wrapper #showcase .logo-container img, .forget-wrapper #showcase .logo-container img{
    width: 50%;
    margin: 0 auto;
}

.login-wrapper #showcase .intro-text ,.register-wrapper #showcase .intro-text, .forget-wrapper #showcase .intro-text{
    grid-area: intro-text;
    font-size: 15px;
    display: none;
}

.login-wrapper #main {
    display: grid;
    grid-area: main;
}
.login-wrapper #section-a {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 80px 80px 5px 50px;
}
.login-wrapper #section-a .btn{
    width: 200px;
}
.login-wrapper #section-a .forget-container{
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.login-wrapper #section-a .button-container{
    width: 100%;
    text-align: center;
}

.password-container .fa-eye-slash {
    display: none;
}

.login-wrapper #main h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: lighter;
    padding-top: 30px;
}
.login-wrapper #main h3:before, #main h3:after {
    content: "";
    display: inline-block;
    border-top: .1rem solid var(--light);
    width: 5rem;
    margin: 0 1rem;
    transform: translateY(-.5rem);
}
.login-wrapper #main #section-b {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
}
.login-wrapper #main #section-b .fa-container{
    margin: 0 auto;
    box-shadow: var(--shadow);
}

.login-wrapper #main #section-b .fa-container:hover{
    box-shadow: var(--hover);
}

.login-wrapper footer {
    color: var(--light);
    font-size: 15px;
    grid-area: footer;
}

/*  Login end */


/*  Register start */

.register-wrapper, .forget-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
            'showcase'
            'main';
}

.register-wrapper #showcase, .forget-wrapper #showcase {
    display: grid;
    grid-gap: 10px;
    text-align: center;
    grid-template-areas:
            'cross-container'
            'logo-container'
            'intro-text';
    grid-area: showcase;
}
.register-wrapper #showcase .cross-container i, .forget-wrapper #showcase .cross-container i{
    display: flex;
    flex-direction: row;
    justify-content: left;
    box-shadow: var(--shadow);
    width: 25px;
    height: 30px;
}

.register-wrapper #showcase .cross-container i:hover, .forget-wrapper #showcase .cross-container i:hover {
    box-shadow: var(--hover);
}

.register-wrapper #section-a .btn{
    width: 200px;
}

.register-wrapper #main #section-a {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 60px 60px 60px 60px;
}
/*  Register end */


/* Input animations */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}

/* Media Queries */

@media (min-width: 700px) {
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    /* Login start */
    .login-wrapper {
        grid-template-areas:
                'showcase main'
                'showcase footer';
        grid-template-columns: 1fr 1.5fr;
        background: #292D48;
        padding: 20px;
        border-radius: 10px;
        box-shadow: var(--shadow);
        width: 70%;
    }
    .login-wrapper #showcase {
        margin: 20px 50px;
    }
    .login-wrapper #showcase .logo-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .login-wrapper #showcase .intro-text, .register-wrapper #showcase .intro-text, .forget-wrapper #showcase .intro-text {
        display: block;
    }
    .login-wrapper #main #section-a input {
        color: var(--light);
    }
    .login-wrapper #main #section-a input::placeholder {
        color: var(--light);
    }

    .login-wrapper #main #section-a, #main #section-b {
        margin: 20px 50px;
    }

    /* Login end */

    /* Register start*/
    .register-wrapper, .forget-wrapper {
        grid-template-areas: 'showcase main';
        grid-template-columns: 1fr 1.5fr;
        background: #292D48;
        padding: 20px;
        border-radius: 10px;
        box-shadow: var(--shadow);
        width: 70%;
    }

    .register-wrapper #main, .forget-wrapper #main {
        padding: 30px;
    }
    /* Register End*/
}